<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="icon" href="/template-mazer/assets/images/logo/iconTop.png">
    <link rel="apple-touch-icon-precomposed" href="/template-mazer/assets/images/logo/iconTop.png">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/TemplateLogin/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/TemplateLogin/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/TemplateLogin/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/TemplateLogin/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/TemplateLogin/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/TemplateLogin/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/TemplateLogin/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/TemplateLogin/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/TemplateLogin/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/TemplateLogin/css/main.css">
    <!--===============================================================================================-->

    <link href="~/css/loader.css" rel="stylesheet">
</head>
<body>
    <div class="loader">
        <div></div>
    </div>

    @RenderBody()
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <!--===============================================================================================-->
    <script src="~/TemplateLogin/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/TemplateLogin/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/TemplateLogin/vendor/bootstrap/js/popper.js"></script>
    <script src="~/TemplateLogin/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/TemplateLogin/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/TemplateLogin/vendor/daterangepicker/moment.min.js"></script>
    <script src="~/TemplateLogin/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="~/TemplateLogin/vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="~/TemplateLogin/js/main.js"></script>

    <script>
        let d = new Date();
        let hours = d.getHours();
        let status = "Welcome";
        if (hours >= 0) {
            status = "Welcome";
        }
        if (hours > 5) {
            status = "Good Morning";
        }
        if (hours > 11) {
            status = "Good Afternoon";
        }
        if (hours > 14) {
            status = "Good Evening";
        }
        if (hours > 18) {
            status = "Good Night";
        }
        document.getElementById("mainTitle").innerHTML = status;
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>
