@{
    ViewData["Title"] = "Cuti Spesial";
    ViewData["type"] = "Cuti";
    ViewData["Aplikasi"] = "Leave Application";
    Layout = "_LayoutMazer";
}


<div class="page-heading">
    <div class="row">
        <div class="col-12 col-md-6 order-md-1 order-last">
            <h3>Cuti Spesial</h3>
            <p class="text-subtitle text-muted">Navbar will appear in top of the page.</p>
        </div>
        <div class="col-12 col-md-6 order-md-2 order-first">
            <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Leave Application</a></li>
                    <li class="breadcrumb-item active" aria-current="page">
                        Cuti Spesial
                    </li>
                </ol>
            </nav>
        </div>
    </div>
</div>
<div class="page-content">
    <section class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4> <span class="text-primary"><i class="bi bi-input-cursor-text"></i></span> Form Pengajuan Cuti</h4>
                </div>
                <div class="card-body">
                    <form>
                        <div class="row">
                            <div class="col">

                                <div class="form-group">
                                    <label>Jenis Cuti</label>
                                    <select name="cuti" id="cuti" class="form-control"></select>
                                </div>
                                <div class="form-group">
                                    <label>Masa Cuti</label>
                                    @*<input type="text" class="form-control" name="daterange" value="01/01/2018 - 01/15/2018" />*@
                                    <div class="row">
                                        <div class="col">
                                            <input type="text" id="tglawal" class="form-control" placeholder="Tanggal Awal">
                                        </div>
                                        <div class="col">
                                            <input type="text" readonly id="tglakhir" class="form-control" placeholder="Tanggal Akhir">
                                        </div>
                                    </div>
                                </div>
                                <button class="btn btn-primary mt-4">Ajukan Cuti</button>
                            </div>
                            <div class="col">
                                <div class="file-upload">

                                    <div class="image-upload-wrap">
                                        <input class="file-upload-input" type='file' onchange="readURL(this);" />
                                        <div class="drag-text">
                                            <i class="bi bi-cloud-arrow-up-fill" style="font-size: 5rem; padding:0px;"></i>
                                            <h6 style="margin-top:-20px;"><b>Seret dan jatuhkan file atau pilih tambahkan Gambar</b></h6>
                                        </div>
                                    </div>
                                    <div class="file-upload-content">
                                        <i class="bi bi-file-earmark-text-fill" style="font-size: 5rem; padding:0px;"></i>
                                        <p class="image-title">Uploaded Image</p>
                                        <div class="image-title-wrap">
                                            <button type="button" onclick="removeUpload()" class="remove-image">Hapus </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
    </section>
</div>
@section Scripts{

    <script src="~/template-mazer/js-setting/Employee/spesial.js"></script>
}